.about {
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
  width: 100%;
  margin-left: auto;
}

.about h2 {
  
  font-family:  "Times New Roman", Times, serif;

  margin-bottom: 10px;
  color: rgba(168, 11, 11, 0.808);
  font-size: 44px;
}

.about p {
  font-size: 1,3rem;
  line-height: 1.5;
  color: black;
  width: 98%;

}