
.banner {
  margin-top: 80px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-size: 5em;
  color: black;
  text-align: center;
  font-family:  "Times New Roman", Times, serif;
  
}

.banner p {
  font-size: 1.5em; 
  text-align: center;
  font-family:  "Times New Roman", Times, serif;
  color: black;

}
