/* PopularCategories.css */

.popular-categories-section {
  padding: 20px;
  color: black;
  font-family:  "Times New Roman", Times, serif;
}



.popular-categories-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}

.popular-category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.popular-category-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.popular-category-item span {
  font-size: 1.2em;
  color: black;
}

.popular-category-item:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
