/* Aggiungi questo stile nel tuo file CSS */
.transaction-history-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transaction-history-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

.transaction-history-container ul {
    list-style: none;
    padding: 0;
}

.transaction-history-container li {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Aggiungi transizioni per il colore di sfondo e la trasformazione */
}

.transaction-history-container li:hover {
    background-color: #f0f0f0; /* Cambia il colore al passaggio del mouse */
    transform: scale(1.05); /* Ingrandisci leggermente al passaggio del mouse */
}

.transaction-history-container p {
    margin: 0;
}

.transaction-history-container p:nth-child(odd) {
    font-weight: bold;
}

.transaction-history-container p:nth-child(even) {
    color: #666;
}
